/*Babette Zengers  Sinan Samet  Nick Vaes   Yannick Van Herck  Thomas Ven*/
html{
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%) fixed;
    width: 100%;
    height: 100%;
}

body {
    background: none;
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

}

#wrap {
    width: 61%;
    margin: 0 auto;
}

.form-horizontal {
    margin: 0 auto;
    width: 850px;
    margin-top: 170px;
}

.dndBox{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 230px;
    border: 2px solid #B7E6E6;
    background: rgba(51, 255, 102, 0.2);
}

.dnd {
    vertical-align: top;
    width: 200px;
    height: 230px;
}

.dndBox div{
    position: absolute;
}

.dndBox .label{
    height: 25px;
    text-align: center;
    margin-left: -40px;
    font-size: 20px;
    border: none;
    background: none;
}

#seizeImg img, #placeholders div img{
    margin-right: 20px;
    border: 2px solid #B7E6E6;
    background: rgba(51, 255, 102, 0.2);
}

#placeholders div img{
    width: 100%;
    height: 100%;
}

div.buf{
    background: rgba(255,0,0, 0.2);
}

#map {
    /* % is voor het responsive te maken!*/
    height: 600px;
    width: 100%;

}

.navbar-brand{
    font-size: 25px;
}

.navbar-default{
    background: none;
}

.navbar{
    margin-bottom: 0;
    border: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover ,.dropdown-menu  {
    background-color: #39966d;
    width: 160px;
    color: #ffffff;
    margin-bottom: 1.5px;
    border: none;
    -webkit-border-radius:6px 6px 0 0;
    -moz-border-radius:6px 6px 0 0;
    border-radius:6px 6px 0 0;
}

.navbar-default .navbar-brand , .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text, .dropdown-menu>li>a {
    color: #ffffff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #c6f5f5
}

.transparent{
    background-color: rgba(250,250,250,0);
}

.custombutton:default, .custombutton:visited {
    background-color: white;
    color:#50a3a2;
}

.custombutton:hover, .custombutton:active {
    background-color: white;
    color:#50a3a2;
}

/* ANIMATION */
.bg-bubbles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -90px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
    background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
    left: 60%;
}
.bg-bubbles li:nth-child(6) {
    left: 70%;
    width: 100px;
    height: 100px;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
    left: 30%;
    width: 130px;
    height: 130px;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}
.bg-bubbles li:nth-child(8) {
    left: 50%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 130px;
    height: 130px;
    -webkit-animation-delay: 8s;
    animation-delay: 8s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1000px) rotate(600deg);
        transform: translateY(-1000px) rotate(600deg);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1000px) rotate(600deg);
        transform: translateY(-1000px) rotate(600deg);
    }
}